<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bs_frpge/bootstrap.min.css">
    <script src="bs_frpge/jquery.min.js"></script>
    <script src="bs/tether.min.js" ></script>
    <script src="bs/bootstrap.min.js" ></script>


<link rel="stylesheet" type="text/css" href="stars.css">
<link rel="stylesheet" type="text/css" href="bg.css">

  <style media="screen">
    body {
      overflow: hidden;
    }
    #wrapper {
      position:absolute;
      top:0;left:0;
      width: 100%;height:100vh;
      overflow: auto;
    }
  </style>
  </head>
  <body>

    <!-- stars  -->
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

<div id="wrapper">
    <div class="container" id="loginFront">

      <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align:center;">
        <img src="img/fpage/logo.png" style="width:90%; max-width:480px; margin:10px auto" />
      </div>
      </div>

        	<div class="row">
    			<div class="col-md-6 col-md-offset-3">
    				<div class="panel panel-login">
    					<div class="panel-heading">
    						<div class="row">
    							<div class="col-xs-6">
    								<a href="#" class="active" id="login-form-link">Login</a>
    							</div>
    							<div class="col-xs-6">
    								<a href="#" id="register-form-link">Register</a>
    							</div>
    						</div>
    						<hr>
    					</div>
              <!-- VALIDATION MSG -->
              <% if(typeof(title) != 'undefined' ) { %>
                <div class="panel-body error">
                  <%= title %>
                </div>
                  <script type="text/javascript">
                  $("#login-form").hide();
                  $("#register-form").show();
                    $('#login-form-link').removeClass('active');
                    $("#register-form-link").addClass('active');
                  </script>
              <% } %>
              <% if(typeof(errors) != 'undefined' ) { %>
                <div class="panel-body error">
                  <% for (var x in errors) { %>
                   <p><%= errors[x].message %></p>
                  <% } %>
                </div>
                <script type="text/javascript">
                $("#login-form").hide();
                $("#register-form").show();
                  $('#login-form-link').removeClass('active');
                  $("#register-form-link").addClass('active');
                </script>
              <% } %>

              <% if(typeof(message) != 'undefined') { %>
                <div class="panel-body <%= style %>"  >
                  <%= message %>
                </div>
              <% } %>
              <!-- VALIDATION MSG  -->
    					<div class="panel-body">
    						<div class="row">
    							<div class="col-lg-12">
                    <!--             -->
                    <!-- LOGIN HERE  -->
                    <!--             -->
    								<form id="login-form" action="/login" method="post" role="form" style="display: block;">
    									<div class="form-group">

                        <!-- EMAIL  -->
    										<input type="text" name="email" id="username" tabindex="1" class="form-control" placeholder="email" value="" data-validation="email" data-validation-length="min6" required>

    									</div>
    									<div class="form-group">
                        <!-- PASSWORD -->
    										<input type="password" name="password" id="passwordLogin" tabindex="2" class="form-control" minlength="6" placeholder="Password"  data-validation="length" data-validation-length="min6" required>

    									</div>

    									<div class="form-group">
    										<div class="row">
    											<div class="col-sm-6 col-sm-offset-3">
    												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
    											</div>
    										</div>
    									</div>

    								</form>
                    <!--                -->
                    <!-- REGISTER HERE  -->
                    <!--                -->
    								<form id="register-form" action="/register" method="post" role="form" style="display: none;">
    									<div class="form-group">
                        <!-- FIRST NAME  -->
    										<input type="text" name="first_name" id="first_name" tabindex="1" class="form-control"   minlength="4" placeholder="First name" data-validation="length alphanumeric" data-validation-length="min4" value="" required>

    									</div>
    									<div class="form-group">
                        <!-- LAST NAME  -->
    										<input type="text" name="last_name" id="last_name" tabindex="1" class="form-control" placeholder="Last name ( optional )" value="">

    									</div>
    									<div class="form-group">
                        <!-- EMAIL  -->
    										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" data-validation="email" data-validation-length="min6" required>
    									</div>
    									<div class="form-group">
                        <!-- PASSWORD  -->
    										<input type="password" name="password" id="password" tabindex="2" class="form-control"  minlength="6" placeholder="Password" required>

    									</div>
    									<div class="form-group">
                        <span id="passconf"></span>
                        <span id="minLength"></span>
                        <!-- CONFIRM PASSWORD  -->
    										<input type="password" name="confirm_password" id="confirm_password" tabindex="2" class="form-control"  minlength="6" placeholder="Confirm Password"  required>

    									</div>
                      <!-- BIRTHDAY  -->
    									<!-- <div class="form-group">
    										<input type="date" name="birthday" id="birthday" tabindex="2" class="form-control" >
    									</div> -->

    									<div class="form-group">
                        <!-- BUTTON  -->
    										<div class="row">
    											<div class="col-sm-6 col-sm-offset-3">
    												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register">
    											</div>
    										</div>
    									</div>
    								</form>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>


        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table style="width:100%;">
            <tr>
              <td style="text-align:center"><img src="img/fpage/mobdev.png"  /></td>
              <td style="text-align:center"><img src="img/fpage/laptop.png" /></td>
            </tr>
          </table>
        </div>
        </div>

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login" style="padding:20px 0">
            <table style="width:100%; ">
              <tr>
                <td style="text-align:center"><img src="img/fpage/mobcontol.png" style="max-width:90%;"  /></td>
                <td style="text-align:center"><img src="img/fpage/keyboardcontrol.png" style="max-width:90%;" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>




    	</div>
</div>

<% if(typeof(context) != 'undefined' ) { %>
    <% for (var i=0; i<context.length; i++) { %>
      <p><b>name</b>: <%= context[i].first_name %>,
        <b>lastname</b>: <%= context[i].last_name %>,
        <b>email</b>: <%= context[i].email %>,
        <b>pw</b>: <%= context[i].password %>,
        <b>birthday</b>: <%= context[i].birthday %>,
      </p>
    <% } %>
<% } %>

<script src="bs_frpge/jquery.form-validator.min.js"></script>

<script type="text/javascript">

$.validate({
  lang: 'en'
  // modules : 'security'
});

$(function() {

$('#login-form-link').click(function(e) {
  $("#login-form").delay(100).fadeIn(100);
  $("#register-form").fadeOut(100);
  $('#register-form-link').removeClass('active');
  $(this).addClass('active');
  e.preventDefault();
});
$('#register-form-link').click(function(e) {
  $("#register-form").delay(100).fadeIn(100);
  $("#login-form").fadeOut(100);
  $('#login-form-link').removeClass('active');
  $(this).addClass('active');
  e.preventDefault();
});

});


// PASSWORD validation
    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password"),
        passconf_message = document.getElementById("passconf");
        passconf_minlength = document.getElementById("minLength");

    function validatePassword(){

      if(password.value != confirm_password.value) {
        passconf_message.innerHTML = "Passwords don't match!"
        confirm_password.setCustomValidity("Passwords Don't Match");
        return false;
      } else {
        confirm_password.setCustomValidity('');
        passconf_message.innerHTML = ""
      }

      if( password.value.length < 6 || confirm_password.value.length < 6){
        passconf_minlength.innerHTML = "Min length of password is 6";
        return false
      } else {
        passconf_minlength.innerHTML = ""
      }

    }

    password.addEventListener('blur', validatePassword);
    confirm_password.addEventListener('blur', validatePassword);

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>

<style media="screen">

#minLength, #passconf, .form-error, input#first_name::placeholder, input#email::placeholder, input#password::placeholder, input#confirm_password::placeholder {
  color: #ff9999!important;
}
input#first_name::-webkit-input-placeholder, input#email::-webkit-input-placeholder, input#password::-webkit-input-placeholder, input#confirm_password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff9999!important;
}
input#first_name::-moz-placeholder, input#email::-moz-placeholder, input#first_name::-moz-placeholder, input#confirm_password::-moz-placeholder { /* Firefox 19+ */
  color: #ff9999!important;
}
input#first_name:-ms-input-placeholder, input#email:-ms-input-placeholder, input#password:-ms-input-placeholder, input#confirm_password:-ms-input-placeholder { /* IE 10+ */
  color: #ff9999!important;
}
input#first_name:-moz-placeholder, input#email:-moz-placeholder, input#password:-moz-placeholder, input#confirm_password:-moz-placeholder { /* Firefox 18- */
  color: #ff9999!important;
}

input#register-submit {

  text-shadow: 1px 1px 0 #000;
  border-color:#fff;
}
input#login-submit, input#register-submit {
  font-size: 1em;
  text-shadow: 1px 1px 0 #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}
</style>
  </body>
</html>
